@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
body
{

    background-color: #EDEDED;
    font-family: 'Antic Didone', sans-serif;
    font-weight: 600;
}

.header
{
    display: flex;
    flex-direction: row;
}
.logo
{
  flex:1;
}
.logo img
{
    width: 150px;
    height: 150px;
}

.profile
{
  margin-top:50px;
  margin-right:10px ;
}

.ar-button
{
  background-color: #010102 !important;
  color: white !important;
  position: absolute !important;
}

.search-filter img
{
    margin-left: 15px;
    
}
  
canvas
{
  z-index: -1;
  width: 100%;
  height: 600px;
}
.tags {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 30px;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.tags::-webkit-scrollbar {
    width: 10px;
  }
  
  .tags::-webkit-scrollbar-thumb {
    background-color: transparent; 
  }
  
  .tags::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  

button
{
    font-family: 'Antic Didone', sans-serif;
    font-weight: 600;
    background-color: #D9D9D9;
    border:solid 0px #D9D9D9;
    border-radius: 15px;
    height: 30px;

}

  .furniture {
    display: flex;
    flex-direction: column;

  }
  
  .allItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .furniture-info {
    border-radius: 5%;
    background-color: #D9D9D9;
    position: relative;
    margin-bottom:50px ;

  }
  
  .search-filter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .furniture-info img {
    width: 200px;
    border-radius: 5%;
  }
  h1
  {
    background-image: linear-gradient( #e916d7, #4207f3,#950cf0);
    color: transparent;
    background-clip: text;
  }
  .basic-desc
  {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .price-desc
  {
    display: flex;
    flex-direction: row;
    margin-bottom:0px ;
  }

.furniture-desc
{
    flex:1;
    margin-right: 5px ;
}




  .ar-3d {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .controls
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .back-btn
  {
    margin-right:50px ;
    height: 60px;
    width: 70px;
    font-size: medium;
    padding: 1px;
  }
  .controls a
  {
    text-decoration: none;
  }
  .view-ar
  {
    margin-left:20px ;
    height: 60px;
    width: 90px;
    font-size: 15px;
  }
@media only screen 
and (min-width: 1024px) 
and (max-width: 2000px) 

{
  .back-btn
  {
    left: 40%;
    margin-top:50px ;
    font-size: 30px;
    font-weight: 600;
  }
  .tags button
  {
    width: 100px;
    font-size: 22px;
    height: 50px;
    padding: 5px;
  }
  .tags
  {
    justify-content: center;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
  }
  .ornament-head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; 
  }
  .profile
  {
    margin-top:100px;
    margin-right:20px ;
  }
  .ornament-head h1 {
    margin: 0; 
    font-size: 52px;
    margin-top:10px ;
    
  }
  
  
#overlay-content {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 5rem;
  pointer-events: none;
}



 
  .controls a
  {
    font-size: 30px;

  }
  canvas
  {
    width: 100%;
  }
.allItem
{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
  .ornament-head
  {
    margin-bottom:15px ;
  }
canvas
{
  height: 1000px;
}
}

  @media (max-width: 768px) {
    
  .back-btn,.ar-back-btn
  {
    display: none;
  }
    .furniture-info {
      flex-direction: column; 
      width: 90%;
      margin-bottom:50px ;
    }
    .furniture
    {
        align-items: center;
    }
    .furniture-info img {
      width: 100%; 
      
    }
  .ornament-head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .allItem {
      flex-direction: column; 
      align-items: center;
    }
    
  }
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1023px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .search-filter img
    {
        width: 600px;
    }
    
    
}
 

.tags button
{
  cursor: pointer;
}